certifi==2017.11.5
chardet==3.0.4
cycler==0.10.0
dateutils==0.6.6
Django==2.1.2
django-reset-migrations==0.3.1
gunicorn==19.7.1
idna==2.6
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
