{% load staticfiles %}

{% include "projects/header.html" %}

<div id="banner" class="{{ project.get_status }}">
  <div id="project-head">
      Proyecto: {{ project.name }}
  </div>
</div>

<div id="main-content">

<p><a href="{% url 'projects:index' %}">Volver al índice</a></p>
<p></p>

<table>
    <tr>
        <th>Responsable:</th>
        <td><a href="{% url 'projects:ip_detail' project.ip_id %}">{{ project.ip }}</a></td>
    </tr>
    <tr>
        <th>ID del proyecto:</th>
        <td>{{ project.proj_id }}</td>
    </tr>
    <tr>
        <th>Estado:</th>
        <td class="{{ project.get_status }}"> {{ project.get_status }}</td>
    </tr>
    <tr>
        <th>Nombre de usuario:</th>
        <td>{{ project.user }}</td>
    </tr>
    <tr>
        <th>Cuota actual (GB):</th>
        <td>{{ project.get_quota|floatformat:1 }}</td>
    </tr>
    <tr>
        <th>Cuota m&aacute;xima (GB):</th>
        <td>{{ project.get_max_quota|floatformat:1 }}</td>
    </tr>
    <tr>
        <th>Uso de disco (GB·día):</th>
        <td>{{ project.get_disk_usage_str }}</td>
    </tr>
    <tr>
        <th>Duración total (días):</th>
        <td>{{ project.get_duration }}</td>
    </tr>
</table>

<p></p>
<p></p>

<table>
    <tr>
        <th>Inicio</th>
        <th>Fin</th>
        <th style="text-align: right">D&iacute;as</th>
        <th style="text-align: right">Cuota</th>
    </tr>
    {% for start, end, delta, quota, state in project.mk_periods %}
    <tr class="period_row_{{ state}}">
        <td>{{ start|date:"Y-m-d H:i" }}</td>
        <td>{{ end|date:"Y-m-d H:i" }}</td>
        <td style="text-align: right">{{ delta|floatformat:1 }}</td>
        <td style="text-align: right">{{ quota|floatformat:1 }}</td>
    </tr>
    {% endfor %}
</table>
